.Page {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: #c7c7e3; */
	background: linear-gradient(var(--grad-rotate), var(--grad-start) 0%, var(--grad-end) 100%);
	/* background: linear-gradient(328deg, rgb(204, 217, 208) 0%, rgb(245, 244, 225) 100%); */
	/* this has a stronger start color */
	/* background: linear-gradient(328deg, rgb(171, 192, 177) 0%, rgb(245, 244, 225) 100%); */
}
