.Settings {
	display: flex;
	flex-direction: row;

	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -28em;
	margin-left: -27em;
	width: 54em;
	height: 56em;
	/* border: 1px solid black; */

	/* padding: 2em; */

	/* dynamic w/h */
	/* position: fixed; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */

	/* background: var(--white); */
	z-index: 9;
}

.Headers {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;

	width: max-content;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	padding: 1em;

	background-color: #f0f8ff35;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TextfulHeader {}

.Header {
	padding: 0.4em;

	&.TextlessHeader {
		padding-right: 0;
	}

	width: 100%;

	border: none;

	display: flex;
	flex-direction: row;
	justify-content: start;

	text-decoration: none;
	color: var(--blue);
	cursor: pointer;
	user-select: none;

	font-size: 12pt;
	font-family: carlito;
	font-weight: bold;
	transition: background 178ms ease-in,
	backdrop-filter 178ms ease-out;

	&:hover {
		background: #a0c65578;
		/* background: #f0f8ff35; */
		/* backdrop-filter: blur(2.3px); */
		transition: background 178ms ease-in, backdrop-filter 178ms ease-out;
	}

	border-radius: 1px;

	svg {
		fill: var(--blue);
		width: 1.2em;
		margin-right: 3px;
		transition: fill 178ms ease-out;
	}
}

.Contents {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;

	/* width: -moz-available; */
	/* width: -webkit-fill-available; */
	width: stretch;

	background: var(--white);
	padding: 2em;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
