.Form {
	text-align: center;
	justify-self: center;
	align-self: center;

	grid-row: 4/7;
	grid-column: 4/7;

	padding: 2.5em;
	display: flex;
	flex-direction: column;


	background: var(--white);
	color: #595858;
	border-radius: 6px;
	/* border: 1px solid #6c8e99; */
	border: none;
	box-shadow: 9px 11px 0 #25272833;
	/* width: max-content; */
	/* height: max-content; */

	scale: 1.3
}


.FormTitle {
	margin-top: 0;
}

.SubmitButton {
	background: var(--blue);
	color: var(--white);
	cursor: pointer;
	width: -moz-available;
	align-self: center;
	border: none;
	padding: 0.3em;
	border-radius: 2px;

	margin-bottom: 1.1em;

	&:hover,
	&:focus {
		filter: opacity(0.8);
	}
}

.Note {
	display: flex;
	flex-direction: row;
	justify-content: start;

	font-size: 11pt;
	font-family: carlito;
}

.SwapButton {
	background: none;
	border: none;
	color: #87a187;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
