.Tree {
	display: flex;
	width: max-content;

	&>* {
		padding-left: var(--padding);
	}
}

.Branch {
	&>* {
		padding-left: var(--padding);
	}
}


.Tree {
	align-items: start;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	grid-row: 2/9;
	grid-column: 2/9;
	background: var(--white);
	border-radius: 6px;

	display: flex;
	flex-direction: column;
}

.Branch {
	display: flex;
}
