.Tree {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.Leaf {
	display: flex;
}

.Branch {
	display: flex;
	flex-direction: column;
	align-items: start;

	/* & :not(.BranchName) { */
	/* padding-left: var(--ident) !important; */
	/* } */
}

.BranchName {
	display: flex;
}
