.Tree {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.Leaf {}

.Branch {
	display: flex;
	flex-direction: column;
	align-items: start;

	& :not(.BranchName) {
		margin-left: 5px;
	}
}

.BranchName {}
