.Auth {

	grid-column: 4/7;
	grid-row: 3/7;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	align-self: center;
	justify-self: center;

	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;

}

.TurnBack {
	background: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;

	grid-row: 4/7;
	grid-column: 2/9;

	border-radius: 6px;
	border: none;
	box-shadow: 9px 11px 0 #25272833;

	/* & [class*="Separator"] { */
	/* 	transform: rotate(134deg); */
	/* 	position: fixed; */
	/* } */
}

.TurnBackText {
	color: #485d6c;
	font-size: 16pt;
	font-family: carlito;

}
