.Home {
	grid-row: 2/9;
	grid-column: 1/10;
}

.Apps {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	height: max-content;
}

.App {
	align-self: start;
	background: aliceblue;
	box-shadow: 9px 11px 0 #25272833;

	padding: 2em;
	margin: 1em;
	border-radius: 6px;
	font-family: carlito;

	display: flex;
	flex-direction: row-reverse;
	justify-content: start;

	color: #485d6c;
	fill: #485d6c;
	stroke: #485d6c;
	transition: color 178ms ease-in, fill 178ms ease-in, stroke 178ms ease-in;

	& svg {
		width: 4em;
		padding: 10px;
	}

	&:hover {
		transition: color 178ms ease-out, fill 178ms ease-out, stroke 178ms ease-out;
		fill: var(--accent);
		color: var(--accent);
		stroke: var(--accent);
	}
}

.AppText {
	display: flex;
	flex-direction: column;
	padding-top: 1em;
}

.AppTitle {
	align-self: end;
	font-size: 18pt;
}

.AppDepict {
	font-size: 14pt;
}
