.Initializer {
	grid-column: 4/7;
	grid-row: 4/7;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	align-self: center;
	justify-self: center;

	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.Negotiator {
	display: flex;
	flex-direction: column;
	justify-self: start;
	align-self: start;
	padding-left: 2.3em;
	padding-top: 0.3em;

	font-family: carlito;
	font-size: 12pt;
	color: #3d4040;

	text-align: start;

	grid-row: 6/7;
	grid-column: 5/6;

}

.Validate {
	display: inline-flex;
}
