.Configs {
	border-radius: 3px;
	/* box-shadow: 9px 11px 0 #25272833; */
	display: flex;
	flex-direction: row;
	color: var(--black);
	margin: 0 2rem;

	&[auth-status=true] {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		grid-row: 2/10;
		grid-column: 1/10;
	}

	&[auth-status=false] {
		grid-row: 4/5;
		grid-column: 5/7;

		& [class*=WildText] {
			width: stretch;
			padding: 4rem 0;
			font-weight: bold;
		}
	}
}

.Headers {
	display: flex;

	height: -webkit-fill-available;
	/* padding: 0.5rem; */

	background: var(--abstract);
	padding: 1rem;

	& [class*=Tree] {
		/* 	width: stretch !important; */
		min-width: 15rem;
	}

	.LeafWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;

		width: stretch;
		cursor: pointer;
		padding: .15rem 0.4rem;

		&:hover {
			background: var(--opaque);
		}

		&[class$=off] {
			display: none;
			/* animation: dspl 250ms; */
		}

		& svg {
			fill: var(--blue);
			width: 38px;

		}

		& svg[class=down] {
			rotate: 0deg;
			transition: rotate 250ms linear;
		}

		& svg[class=up] {
			rotate: 540deg;
			transition: rotate 250ms linear;
		}
	}

	div[class*=Branch] {
		[class*=LeafWrapper]:not(:has([class*=BranchName])) {
			padding-left: var(--ident);
		}
	}

	[class*="Branch"] {
		width: stretch;
	}

	[class*=Leaf] {
		width: stretch;
	}

	[class*="Leaf"] {
		color: var(--blue);
		font-weight: bold;
		font-size: larger;

		/* border-radius: 3px; */
		margin-bottom: 0.1rem;
	}
}

[class*=Leaf] {
	/* letter-spacing: -1.0px; */
	/* font-family: crimson; */
	font-family: carlito;
}

.Contents {
	background: var(--white);
	width: stretch;
	padding: 2rem 1rem;
}

.Panic {
	width: fit-content;
	height: fit-content;
	padding: 2rem;
	grid-area: 5 / 2 / 6 / 9;
	align-self: center;
	justify-self: center;
}

/* @keyframes dspl { */
/* 	from { */
/* 		display: flex; */
/* 	} */
/**/
/* 	to { */
/* 		display: none; */
/* 	} */
/* } */
