.Chapter {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.Section {
	width: stretch;
	height: stretch;

	display: flex;
	flex-direction: column;
}

.Title {
	color: var(--blue);
	width: max-content;

	font-size: 24pt;
	padding: 1rem;
}

/* address css */
.SectionContents.Address {
	display: flex;
	flex-direction: column;
	width: max-content;
	padding: 1rem;
	margin-left: 1rem;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	[class*=CheckBox] {
		legend {
			font-size: 14pt;
		}
	}
}

/* password css  */

.SectionContents.Password {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	width: max-content;
	padding: 1rem;
	margin-left: 1rem;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	[class*=Form] {
		scale: 1;
		box-shadow: none;
		padding: 1rem;
	}

	[class*=PasswordField] {
		[class*=TextField] {
			width: 15rem;
		}

		[class*=PswSwitch] {
			margin-left: 80%;
		}
	}
}


.Trigger {
	/* color: var(--blue); */
	cursor: pointer;
	border-radius: 14px 35%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		opacity: 0.6;
	}
}

.ButtonGroup {
	border: 3px solid var(--green);
	border-radius: 34px;

	justify-content: space-evenly;
	display: flex;

	padding: 0.6rem 0;
	margin-top: 0.6rem;

	/* & button { */
	/* 	border-radius: 14px 35%; */
	/**/
	/* 	&:hover { */
	/* 		background: var(--green); */
	/* 		color: var(--white); */
	/* 	} */
	/* } */
}
