.ColorPalette {
	display: flex;
	flex-direction: column;
	width: max-content;
	align-items: center;

	&>canvas {
		margin: 0.2em 0;
		/* border: 1px solid black; */
		image-rendering: pixelated;
		cursor: cell;
	}
}

.ColorCode {
	border: 1px solid black;
	width: 200px;
	height: 10px;
	font-size: 8px;
	cursor: pointer;
	margin: 0.8em 0;
}

.Palette {}

.ColorSlider {}

.OpacitySlider {}
