.Picker {
	width: max-content;
}

.PickerButton {
	& svg {
		width: 1em;
		cursor: pointer;
		fill: var(--blue);
	}

	& .PickerValue {
		width: 50px;
		height: 20px;
		border-radius: 2px;
		display: flex;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}

.ColorPicker {
	filter: brightness(0.9);
	background: var(--white);
	z-index: 9;
	box-shadow: 0 0 10px rgba(180, 180, 180, 1);
	border-radius: 3px;

	padding: 1em;
	position: fixed;
	display: flex;
	flex-direction: column;
	width: max-content;
	align-items: center;

	&>canvas {
		margin: 0.2em 0;
		/* border: 1px solid black; */
		image-rendering: pixelated;
		cursor: cell;
	}
}

.Picker,
.ColorSlider,
.AlphaSlider,
.ColorCode {
	border: none;
	border-radius: 1px;
}

.ColorTools {
	display: flex;
	flex-direction: row;
	width: stretch;
	align-items: center;
	justify-content: start;

	& .ColorTool {
		background: var(--black);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4.5px;

		& svg {
			width: 15px;
			height: 15px;
		}
	}

	& :last-child {
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
	}

	&>* {
		filter: none;
		transition: filter 200ms ease-out;
	}

	&>*:hover,
	& :first-child:focus {
		filter: brightness(1.5);
		transition: filter 200ms ease-in;
	}
}

.ColorCode {
	/* border: 1px solid black; */
	width: 40%;
	font-size: 8px;
	cursor: pointer;
	margin: 0.8em 0;

	background-color: var(--black);
	color: var(--white);

	border: none;
	border-radius: 0;
	/* border-radius: 10px 0; */
	border-bottom-left-radius: 1px;
	border-top-left-radius: 1px;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

[color-value] {
	.PickerButton>svg+& {
		color: attr(color-value);
		fill: attr(color-value);
		stroke: attr(color-value);
	}
}
