.Logo>svg[class='hanabi_svg'] {
	path[id='path1'] {
		stroke: var(--h) !important;
	}

	path[id='path2'] {
		stroke: var(--a0) !important;
	}

	path[id='path3'] {
		stroke: var(--n) !important;
	}

	path[id='path4'] {
		stroke: var(--a1) !important;
	}

	path[id='path5'] {
		stroke: var(--b) !important;
	}

	path[id='path6'] {
		stroke: var(--i) !important;
	}

	path[id='path7'] {
		stroke: var(--dot) !important;
	}

	path[id='path8'] {
		fill: var(--ra) !important;
	}
}
