.PasswordField {
	display: flex;
	flex-direction: row;
}

svg {
	stroke: var(--black);
}

.PswSwitch {
	border: none;
	background: none;
	scale: 0.7;
	position: absolute;
	margin-left: 72%;
	margin-top: 9px;

	cursor: pointer;
}
