.Separator {
	border: none;
	border-bottom: 1px solid #595858d8;
	border-radius: 59%;
	margin-bottom: 12px;
	padding-top: 1px;

	/* width: -moz-available; */
	/* width: -webkit-fill-available; */
	width: stretch;

	&[active=true] {
		border-bottom: 1px solid #87a187;
	}

}
