.AltNote {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Note {
	display: flex;
	flex-direction: row;
	justify-content: start;

	font-size: 11pt;
	font-family: carlito;
}

.GrandLine {
	color: #595858d8;
	border: none;
	border-bottom: 1px solid #595858d8;
	border-radius: 59%;
	margin-bottom: 12px;
	padding-top: 1px;

	width: -moz-available;

}

.Link {
	color: forestgreen;
}
