.AppsMenu {
	/* background: #373737; */
	background: aliceblue;
	border: none;
	border-radius: 6px;

	height: max-content;
	padding: 1em;

	display: flex;
	flex-direction: column;

	&[show="true"] {
		width: max-content;
		height: max-content;
		padding: 20px;

		.AppsButton {
			align-self: start;
			position: absolute;
			display: none;
		}

		& .AppsBox {
			display: flex;
			flex-direction: column;
		}
	}

	&[show="false"] {
		& .AppsBox {
			display: none
		}
	}
}

/* svg { */
/* 	stroke: white; */
/* 	color: white; */
/* 	fill: white; */
/* } */

.AppsButton {
	border: none;
	border-radius: 6px;
	background: none;

	svg {
		width: 3em;
		height: 3em;
	}

	cursor: pointer;

	&:hover {
		& svg {
			opacity: 0.6;
		}
	}
}

.AppsBox {}

.AppCard {
	display: flex;
	flex-direction: row;

	border: none;
	border-radius: 6px;
	background: inherit;

	justify-content: start;
	align-items: center;

	cursor: pointer;

	&:hover {
		color: forestgreen;
		fill: forestgreen;
	}
}

.AppIcon {
	width: 2em;
	height: 2em;
	padding: 1em;
}

.AppText {
	display: flex;
	flex-direction: column;
}

.AppName {
	font-weight: 500;
	align-self: start;
}

.AppDscription {}
