.AuthForm {
	text-align: center;
	justify-self: center;
	align-self: center;

	grid-row: 4/7;
	grid-column: 4/7;

	padding: 2.5em;
	display: flex;
	flex-direction: column;


	background: aliceblue;
	color: #595858;
	border-radius: 6px;
	/* border: 1px solid #6c8e99; */
	border: none;
	box-shadow: 9px 11px 4px #25272833;
	/* width: max-content; */
	/* height: max-content; */

	scale: 1.3
}


.FormTitle {
	margin-top: 0;
}

& .TaskButton {
	background: #485d6c;
	color: aliceblue;
	cursor: pointer;
	width: -moz-available;
	align-self: center;
	border: none;
	padding: 0.3em;
	border-radius: 2px;

	margin-bottom: 1.1em;

	&:hover,
	&:focus {
		filter: opacity(0.8);
	}
}
