.HomeLogo {
	display: flex;
	flex-direction: row;
	width: max-content;
	height: max-content;

	grid-row: 1/2;
	grid-column: 1/2;

	margin-left: 9px;
	margin-top: 9px;

	& .Anchor {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
	}

	& svg {
		width: 140px;
		height: 60px;
	}
}
