.Loader {
	display: flex;
	justify-self: center;
	align-self: center;

	grid-row: 5/6;
	grid-column: 5/6;

	& svg {
		width: 340px;
		height: 160px;
	}
}

/* body { */
/* 	background: radial-gradient(circle, rgba(237, 236, 230, 1) 0%, rgba(228, 242, 232, 1) 50%, rgba(221, 229, 235, 1) 100%); */
/* } */
