.Page {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: #c7c7e3; */
	background: linear-gradient(328deg, rgba(204, 217, 208, 1) 0%, rgba(245, 244, 225, 1) 100%);
	/* background: linear-gradient(328deg, rgb(171, 192, 177) 0%, rgb(245, 244, 225) 100%); */
}
