.SigninButton {
	grid-row: 1/2;
	grid-column: 9;

	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: start;

	.Button {
		margin: 28px 24px 0 0;
		text-decoration: none;

		background: #485d6c;
		color: aliceblue;

		/* border: 1px solid #485d6c; */
		/* color: #485d6c; */

		cursor: pointer;
		width: 100px;
		padding: 0.3em;
		border-radius: 2px;

		margin-bottom: 1.2em;

		&:hover,
		&:focus {
			filter: opacity(0.8);
		}
	}
}
