.SigninForm {
	text-align: center;
	justify-self: center;
	align-self: center;

	grid-row: 4/7;
	grid-column: 4/7;

	padding: 2.5em;
	display: flex;
	flex-direction: column;


	background: aliceblue;
	color: #595858;
	border-radius: 6px;
	/* border: 1px solid #6c8e99; */
	border: none;
	box-shadow: 9px 11px 4px #25272833;
	/* width: max-content; */
	/* height: max-content; */

	scale: 1.3
}

.FormTitle {
	margin-top: 0;
}

.InputJar {
	/* border: 1px solid #6c8e99; */
	/* border: 1px solid #595858; */

	display: flex;
	flex-direction: column;
	justify-content: end;

	color: #595858;
	border: none;
	border-bottom: 0.1em solid #59585858;
	width: 18em;
	height: 2em;

	margin-bottom: 1.2em;
}

.InputJar[input-focus="true"] {
	/*  .InputField { */
	/* 	display: flex; */
	/* } */

	.InputLegend {
		/* animation: 400ms legend-ascent linear normal; */
		transform: translateY(0px);
		transition: transform 100ms ease-out, font-size 100ms ease-out;
		color: forestgreen;
		font-size: 9pt;
	}

	& {
		border-bottom-color: forestgreen;
	}
}


.InputField {
	background: transparent;
	border: none;
	color: #595858;
	width: -moz-available;
	padding: 0;
}

.InputLegend {
	font-size: 12pt;
	font-style: italic;
	color: #595858d8;
	text-align: start;
	padding: 0;
	transform: translateY(16px);
	transition: transform 100ms ease-out, font-size 100ms ease-out;
	cursor: default;
	cursor: text;
}

.PswWrapper {
	display: flex;
	flex-direction: row;
}

.PswSwitch {}

.RememberMeCheckBox {
	display: flex;
	flex-direction: row;
	border: none;
	font-size: 11pt;
	font-family: carlito;

	margin-bottom: 1.2em;

	&>input[type="checkbox"] {
		content: '';
	}
}

.SignupNote {
	display: flex;
	flex-direction: row;
	justify-content: start;

	font-size: 11pt;
	font-family: carlito;

	& .SignupLink {
		color: forestgreen;
	}
}

& .SigninButton {
	background: #485d6c;
	color: aliceblue;
	cursor: pointer;
	width: -moz-available;
	align-self: center;
	border: none;
	padding: 0.3em;
	border-radius: 2px;

	margin-bottom: 1.2em;

	&:hover,
	&:focus {
		filter: opacity(0.8);
	}
}

@keyframes legend-ascent {
	from {
		color: #595858;
		font-size: 12pt;
	}

	to {
		color: forestgreen;
		font-size: 10pt;
	}
}
