.SessionJar {
	text-align: center;
	justify-self: center;
	align-self: center;

	display: flex;
	flex-direction: column;

	color: silver;
	border-radius: 4px;
	border: 1px solid #48489f;
	width: max-content;
	height: max-content;

	grid-row: 4/7;
	grid-column: 4/7;

	scale: 2;
}

& .SessionActions {
	display: flex;
	flex-direction: row;
	width: -moz-available;
	margin-bottom: 14px;

	& .Action {
		width: 50%;
		color: #48489f;
		padding: 3px;

		border: none;
		border-bottom: 2px solid #48489f;

		background: transparent;
		padding: 5px;
		cursor: pointer;
	}
}

& .SessionAuth {
	display: flex;
	flex-direction: column;

	.InputField {
		background: transparent;
		border: none;
		color: gray;
	}

	.InputLabel {
		margin: 18px;
		margin-top: 0;
		border: 1px solid #48489f;
		border-radius: 2px;
		color: #a8384e;
	}
}

input,
button {
	&:focus {
		outline: none;
	}
}

button:focus {
	outline: none;
}

.LoginForm {
	display: flex;
	flex-direction: column;

	& .LoginAction {
		margin-bottom: 14px;
		border: 1px solid #48489f;
		color: #48489f;
		background: transparent;
		cursor: pointer;
		width: 85%;
		align-self: center;
		border-radius: 2px;

		&:hover,
		&:focus {
			background: #a8384e;
			color: #0a0a1d;
			border-color: #a8384e;
		}
	}
}

&.SignupForm {
	display: flex;
	flex-direction: column;
}

.logo {
	animation: logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.link {
	color: #b318f0;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
